{{define "link"}}

<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="../../../../public/plugin/bootstrap4/css/bootstrap.min.css" >

<!-- Autoselect Core CSS -->
<link rel="stylesheet" href="../../../../public/plugin/autoselect/bootstrap-select.css">

<!-- md bootstrap Core css -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">

<!-- alertifyjs Core CSS -->
<link rel="stylesheet" href="../../../../public/plugin/alertifyjs/css/alertify.min.css">
<link rel="stylesheet" href="../../../../public/plugin/alertifyjs/css/themes/default.min.css">
<link rel="stylesheet" href="../../../../public/plugin/alertifyjs/css/themes/semantic.min.css">
<link rel="stylesheet" href="../../../../public/plugin/alertifyjs/css/themes/bootstrap.min.css">

<!-- custom CSS -->
<link rel="stylesheet" href="../../../../public/css/compiled_modal.css"/>
<link rel="stylesheet" href="../../../../public/css/style.css"/>
{{ end }}