{{define "scripts_foot"}}

<!-- jQuery -->
<script src="../../../../public/plugin/jquery/jquery.min.js"></script>

<!-- popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="../../../../public/plugin/bootstrap4/js/bootstrap.min.js"></script>

<!-- Autoselect Core JS -->
<script src="../../../../public/plugin/autoselect/bootstrap-select.js"></script>

<!-- md parslay Core Js -->
<script src="../../../../public/plugin/parsley/parsley.min.js"></script>

<!-- md alertifyjs Core Js -->
<script src="../../../../public/plugin/alertifyjs/alertify.min.js"></script>

<!-- defaults Js -->
<script src="../../../../public/js/defaults.js"></script>

<!-- oauth-1.0a -->
<script src="../../../../public/plugin/oauth-1.0a/oauth-1.0a.js"></script>
<script src="../../../../public/plugin/oauth-1.0a/crypto.js"></script>


<!-- Custom Js -->
<script src="../../../../public/js/common.js"></script>
{{end }}