{{define "scripts_foot"}}

<!-- jQuery -->
<script src="../../../../public/plugin/jquery/jquery.min.js"></script>

<!-- popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="../../../../public/plugin/bootstrap4/js/bootstrap.min.js"></script>

<!-- Autoselect Core JS -->
<script src="../../../../public/plugin/autoselect/bootstrap-select.js"></script>

<!-- md bootstrap Core Js -->
<script src="../../../../public/plugin/Mdbootstrap/js/mdb.min.js"></script>

<!-- Custom Js -->
<script src="../../../../public/js/common.js"></script>
{{end }}