@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

:root {
  --background: #DDD;
  --primary-color: #5d3283;
  --secondary-color: #499e9d;
  --primary-border-color: #5d3283;
  --secondary-border-color: #499e9d;
  --primary-button-color: #5d3283;
  --secondary-button-color: #499e9d;
  --primary-button-font-size: 16px;
  --primary-label-font-size: 16px;
  --primary-font-color: #2d2d2d;
  --border-color: #a5a5a5;
}

/* 
var(--background);
var(--primary-color);
var(--secondary-color);
var(--primary-border-color);
var(--secondary-border-color);
var(--primary-button-color);
var(--secondary-button-color);
var(--primary-button-font-size);
var(--primary-label-font-size);
var(--primary-font-color);
var(--border-color);
*/


body {
  margin: 0;
  padding: 0;
  /* background:var(--background); */
  font-size: var(--primary-label-font-size);
  color: var(--primary-font-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#login-box {
  position: relative;
  padding: 0px;
  /* margin: 5% auto; */
  background: #FFF;
  border-radius: 2px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); */
}

.signup-login .left {
  padding: 40px 20px;
}

.block-title {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}
.signup-login .or {
  position: absolute;
  top: 180px;
  left: 280px;
  width: 40px;
  height: 40px;
  background: #DDD;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 40px;
  text-align: center;
}

.signup-login .right {
  box-sizing: border-box;
  padding: 40px;
  width: 100%;
  background: #5f2c82; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5f2c82, #49a09d); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5f2c82, #49a09d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-position: center;
  border-radius: 0 2px 2px 0;
}

.signup-login .right .loginwith {
  display: block;
  margin-bottom: 40px;
  font-size: 28px;
  color: #FFF;
  text-align: center;
}

.signup-login button.social-signin {
  margin-bottom: 30px;
  width: 100%;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}

.signup-login button.social-signin:hover,
.signup-login button.social-signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

.signup-login button.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

.signup-login button.social-signin.facebook {
  background: #32508E;
}

.signup-login button.social-signin.twitter {
  background: #55ACEE;
}

.signup-login button.social-signin.google {
  background: #DD4B39;
}
label{
  margin: 0px;
}
.custom-select{
  padding: 2px 20px 2px 0px;
  border: 0px;
  border-bottom: 1px solid var(--border-color);
  border-radius: 0px;
  color: var(--primary-font-color);
}
.custom-select:focus{
  box-shadow: none !important;
  border-bottom: 1px solid var(--secondary-button-color);
  outline: 0;
}
.form-group input{
  padding: 2px 20px 2px 0px;
  border: 0px;
  border-bottom: 1px solid var(--border-color);
  border-radius: 0px;
  color: var(--primary-font-color);
}
.form-group input:focus{
  box-shadow: none !important;
  border-bottom: 1px solid var(--secondary-button-color);
  outline: 0;
}

.form-group input::-webkit-input-placeholder{
  color: var(--border-color);
  font-size: 14px;
}
.form-group input::-moz-placeholder{
  color: var(--border-color);
  font-size: 14px;
}
.form-group input:-ms-input-placeholder{
  color: var(--border-color);
  font-size: 14px;
}
.form-group input:-moz-placeholder{
  color: var(--border-color);
  font-size: 14px;
}
.secondary-btn{
  background: var(--secondary-button-color);
  border: 0px;
  color: #fff;
  padding: 10px 15px;
}
.secondary-btn:focus, .secondary-btn:hover{
  background: var(--primary-button-color);
}
.form-text.text-danger.filled{
  font-size: 14px;
}
.white-background{
  background: white;
}


/* animated modals */
.animated-modal .modal{
  padding: 0px;
  height: auto;
  background: transparent;
  z-index: 199;
  text-align: left;
}
.animated-modal .custom-modal-header{
  position: absolute;
  z-index: 200;
  top: 20px;
  right: 20px;
}
.animated-modal .modal-switch{
  float: right;
  padding:10px 10px 0px 0px;
}
.animated-modal .modal-switch a{
  color: var(--primary-font-color);
}
.animated-modal .block-outer-title{
  margin-bottom: 30px;
}
.no-margin{
  margin: 0px;
}

@media only screen and (min-width: 980px) {
  .animated-modal .modal{
    width: 900px;
  }
}

@media only screen and (max-width: 979px) {
  .animated-modal .modal{
    /* width: 100%; */
  }
}